* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

header {
    height: 80px;
    background-color: #6c63ff;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
    height: 100%;
}

.login-btn {
    border: 2px solid #fff;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: transparent;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.main-section {
    padding: 100px 0;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    color: #2f2e41;
    margin-bottom: 70px;
    text-align: center;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    width: 330px;
    height: 552px;
    background-color: #ffffff;
    padding : 46px 20px;
    flex-grow: 1;
}

.card-title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #2f2e41;
}

.card-img {
    margin: 40px auto 36px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: -0.02em;
    color: #2f2e41;
    text-align: left;
}

.card-text span {
    font-weight: 700;
}

footer {
    height: 80px;
    background-color: #6c63ff;
}

footer img {
    margin-right: 10px;
}

.footer-link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-transform: capitalize; 
    color: #ffffff;
    text-decoration: none;
}

.links-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.links-list li {
    padding: 9px 15px;
}