* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;

    background-color: #6c63ff;
    height: 80px;
    padding: 17px;
}